@font-face {
    font-family: 'dmsans';
    src: url(../assets/DMSans-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dmsans', sans-serif;
}

.logoimagem {
    width: 140px;
    height: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    color: #000;
    text-align: right;
}

.nav-links {
    list-style: none;
    font-size: 15px;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.4s ease, opacity 0.4s ease; /* faz a transição entra a cor da borda e a opacidade */
}

.nav-links a:hover {
    opacity: .5;
    border-bottom: 1px solid #000000; 
}

/* .nav-icons {
    display: flex;
    height: auto;
    gap: 22px;
}

.nav-icons img{
    width: 22px;
    height: 30px;
} */

.search-container {
    width: 170px;
}

.busca {
    background: url(../assets/Icons/search.svg) no-repeat center right;
    height: 30px;
    width: 23px;
    padding: 5px;
    background-size: 23px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s linear;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    margin-right: 23px;
}

.busca:focus {
    border: 1px solid #000;
    width: 100%;
}

.dropdown, .dropdown-about {
    position: relative;
    display: block;
}

.dropdown-menu, .dropdown-menu-about {
    position: absolute;
    background-color: #fff;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    display: block; 
    padding-top: 15px; 
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu a, .dropdown-menu-about a  {
    display: block;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.dropdown-about:hover .dropdown-menu-about {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.footer {
    background-color: #dbdcde; 
    color: #000; 
    padding: 35px;
    font-size: small;
}

.footer-content {
    display: flex; /* Organiza os elementos em linha */
    justify-content: space-between; /* Espaçamento uniforme entre os blocos */
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */ 
    gap: 30px;
}

.footer-content ul {
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-content h4 {
    margin-bottom: 20px; 
    font-size: 1.1rem; 
    text-transform: uppercase;
    font-weight: lighter;
}

.footer-content li {
    margin-bottom: 8px; 
}

.footer-content a {
    text-decoration: none; 
    color: #000; 
    transition: color 0.3s; 
}

.footer-about .footer-support{
    max-width: 200px;
}

.footer-content a:hover {
    color: green; 
    opacity: .8;
}

.footer-register {
    flex: 2;
    max-width: 500px;
}

.footer-register p {
    color: #000; 
}

.newsletter{
    display: flex;
    gap: 10px;
    align-items: center;
}

.newsletter input {
    flex: 2;
    outline: none;
    padding: 5px; /* Espaçamento interno */
    border: 1px solid #444; 
    border-radius: 5px; 
    background-color: #fff;
    color: #000; 
    margin-top: 10px;
}

.footer-register input::placeholder {
    color: #888; /* Cor do placeholder */
}

.footer-button {
    color: #000;
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px 40px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 green;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-top: 10px;
}

.footer-button:hover {
    box-shadow: inset 150px 0 0 0 green;
    color:#000
}